.mealCard {
    background-color: var(--lightOrangeColor);
    width: 700px;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    gap: 16px;
}

.mealCard:hover {
    box-shadow: 2px 2px 4px 0px #00000026;
}

.mealCard > img {
    width: 200px;
    height: 120px;
    object-fit: cover;
    border-radius: 12px;
}

.mealCardContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mealCardDescription {
    display: flex;
    justify-content: space-between;
}

.actions {
    display: flex;
    justify-content: flex-end;
}

.addBasketBtn {
    background-color: var(--whiteColor);
    font-family: "Palanquin SemiBold";
    font-size: 16px;
    color: var(--grayColor);
    border: none;
    border-radius: 20px;
    padding: 5px 8px;
}

.addBasketBtn:hover {
    cursor: pointer;
    color: var(--orangeColor);
    box-shadow: 1px 2px 2px 0px #00000033;
}